.Rproj.user
.Rhistory
.RData
.rda
cache/
*.csv
*.sh
!all.diag_icd.csv
!HashTable_V.csv
!venn.labels.csv
*.docx
*.pptx
*.html
*.tmp
*.dat
*~
!/sys/templ/Hospital_report_tmpl.docx
!/sys/asset/Hospital_report_aop.csv
*auto.generated*
